.teletype {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
  color: #252525;
  z-index: 0;
  font-size: 20px;
}

.headContainer {
  height: 100%;
}

.headFronter {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  color: white;
}

.memberLogo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px;
  border: 2px solid white;
}

.memberList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

/* Font Size responsiveness */

.title {
  font-size: calc(5.5vw + 5.0vh);
  font-weight: bold;
}

.info {
  font-size: calc(2.5vw + 2.5vh);
}

.section {
  padding: 20px;
  background-color: white;
}

.parallax {
  position: relative;
  transform: translateZ(-3px) scale(2.5);
  z-index: -1;
  overflow: hidden;
  color: white;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.albumTest {
  margin-top: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  overflow: visible;
  filter: opacity(0);
}

.albumTest img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  margin: 10px;
  box-shadow: 0px 0px 3px 1px #bbb;
  border-radius: 5px;
  transition: transform 0.2s;
}

.fadeIn {
  animation: fadeIn 1s;
  filter: opacity(1) !important;
}

@keyframes fadeIn {
  from {
    filter: opacity(0);
    transform: translateX(100px);
  }
  to {
    filter: opacity(1);
    transform: translateX(0px);
  }
}

.albumTest img:hover {
  transform: translateY(-20px);
  transition: transform 0.2s;
}

.albumShow {
  animation: albumShow 0.5s;
  filter: opacity(1) !important;
}

.albumShow > img:nth-child(1) {
  transform: rotate(-20deg) scale(0.8);
}

.albumShow > img:nth-child(3) {
  transform: rotate(20deg) scale(0.8);
}

@keyframes albumShow {
  from {
    filter: opacity(0)
  }
  to {
    filter: opacity(1)
  }
}

.album {
  position: relative;
  width: 300px;
  filter: opacity(0);
}

.album > img {
  box-shadow: 0px 0px 3px 0px black;
  margin-top: 50px;
  height: 400px;
  width: 300px;
  max-width: 100%;
  max-height: 55vh;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.2s;
}

.album > img:nth-child(1) {
  position: absolute;
  left: -100px;
  z-index: 0;
  filter: grayscale(50%);
}

.album > img:nth-child(2) {
  position: relative;
  z-index: 1;
}

.album > img:nth-child(3) {
  position: absolute;
  right: -100px;
  z-index: 0;
  filter: grayscale(50%);
}

.album:hover > img:nth-child(1) {
  transform: rotate(-30deg) scale(0.8);
  transition: transform 0.2s;
}

.album:hover > img:nth-child(2) {
  transform: scale(1.0) translateY(-20px);
  transition: transform 0.2s;
}

.album:hover > img:nth-child(3) {
  transform: rotate(30deg) scale(0.8);
  transition: transform 0.2s;
}

@media only screen and (min-width: 2000px) {
  .section {
    padding-left: 300px;
    padding-right: 300px;
  }
}

.meteor {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid white;
}